.App {
  min-height: 100vh;
  background-color: #f5f0e5;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-mainTitle {
  margin-left: 5px;
}

.App-header {
  background-color: #774141;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #e5cd88;
  padding: 10px;
}

.App-main {
  padding: 0px 15px;
}
